<div class="container">
    @for (pokemon of pokemonList; track $index) {
    <div class="card">
        <button type="button" mat-button [routerLink]="pokemon.name">
            <p>
                {{pokemon.id}} - {{pokemon.name}}
            </p>
        </button>
        <div class="image">
            <img src="{{pokemon.image}}" alt="{{pokemon.name}} image" />
        </div>
        <div class="info">
            @for (type of pokemon.types; track $index) {
            <p class="type {{type.type.name}}">{{type.type.name}}</p>
            }
        </div>
    </div>
    }
</div>