$grass: #78c850;
$fire: #f08030;
$water: #6890f0;
$bug: #a8b820;
$normal: #a8a878;
$fliying: #a890f0;
$poison: #a040a0;
$electric: #f8d030;
$ground: #e0c068;
$fairy: #dea5de;
$fighting: #c03028;
$psychic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$ice: #98d8d8;
$ghost: #705898;
$dragon: #7038f8;
$dark: #705848;